 <app-header></app-header>
 <!-- Bnr Header -->
 <section class="sub-bnr" data-stellar-background-ratio="0.5">
     <div class="position-center-center">
         <div class="container">
             <h3>WE ARE MEDICAL</h3>
             <h1>PROFESSIONAL TEAM OF DOCTORS</h1>

             <!-- Breadcrumb -->
             <ol class="breadcrumb">
                 <li><a href="#">Home</a></li>
                 <li class="active">Doctors</li>
             </ol>
         </div>
     </div>
 </section>

 <!-- Content -->
 <div id="content">

     <!-- DOCTOR LIST -->
     <section class="young-doc-team p-t-b-150 padding-bottom-0">
         <div class="container">

             <!-- Heading -->
             <div class="heading-block">
                 <h4>We are Team of Young Professionals Passionate in our Work</h4>
                 <hr>
                 <span>Duis autem vel eum iriure dolor in hendrerit n vuew lputate velit esse molestie conseu vel illum dolore eufe ugiat nulla facilisis at vero.</span> </div>

             <!-- Soctor List Slider -->
             <div class="doct-list">
                 <div class="item"> <a href="#pop-open" class="link popup-vedio video-btn"><img class="img-responsive" src="assets/images/doc-img-1.jpg" alt="" ></a> </div>
                 <div class="item"> <a href="#pop-open-1" class="link popup-vedio video-btn"> <img class="img-responsive" src="assets/images/doc-img-2.jpg" alt="" ></a> </div>
                 <div class="item"> <a href="#pop-open" class="link popup-vedio video-btn"><img class="img-responsive" src="assets/images/doc-img-3.jpg" alt="" ></a> </div>
                 <div class="item"> <a href="#pop-open-1" class="link popup-vedio video-btn"><img class="img-responsive" src="assets/images/doc-img-4.jpg" alt="" ></a> </div>
                 <div class="item"> <a href="#pop-open" class="link popup-vedio video-btn"><img class="img-responsive" src="assets/images/doc-img-5.jpg" alt="" ></a> </div>
                 <div class="item"> <a href="#pop-open-1" class="link popup-vedio video-btn"><img class="img-responsive" src="assets/images/doc-img-6.jpg" alt="" ></a> </div>
                 <div class="item"> <a href="#pop-open" class="link popup-vedio video-btn"><img class="img-responsive" src="assets/images/doc-img-2.jpg" alt="" ></a> </div>
                 <div class="item"> <a href="#pop-open-1" class="link popup-vedio video-btn"><img class="img-responsive" src="assets/images/doc-img-3.jpg" alt="" ></a> </div>
             </div>
         </div>

         <!-- POPUP DOCTOR -->
         <div id="pop-open" class="zoom-anim-dialog mfp-hide pop-open-style">
             <div class="pop_up row">
                 <!-- Doctor Image -->
                 <div class="col-sm-6 no-padding-left"> <img class="img-responsive" src="assets/images/doctor-1-1.jpg" alt="" > </div>
                 <div class="col-sm-6">
                     <div class="doctor-in">
                         <h5>Lynn Lambert</h5>
                         <span>Cardiology</span>
                         <!-- Personal Info -->
                         <div class="personal-info">
                             <ul class="row">
                                 <li class="col-sm-4"><strong>Education </strong></li>
                                 <li class="col-sm-8"> MD, OB/GYN </li>
                             </ul>
                             <ul class="row">
                                 <li class="col-sm-4"><strong>Experience </strong></li>
                                 <li class="col-sm-8">2 years</li>
                             </ul>
                             <ul class="row">
                                 <li class="col-sm-4"><strong>Office </strong></li>
                                 <li class="col-sm-8">Office 12b, Hall A</li>
                             </ul>
                             <ul class="row">
                                 <li class="col-sm-4"><strong>Work days </strong></li>
                                 <li class="col-sm-8">Monday, Friday, Sunday</li>
                             </ul>
                             <ul class="row">
                                 <li class="col-sm-4"><strong>Email </strong></li>
                                 <li class="col-sm-8">janebutler@medical.com</li>
                             </ul>
                             <ul class="row">
                                 <li class="col-sm-4"><strong>Trainning </strong></li>
                                 <li class="col-sm-8">Nam liber tempor cum soluta nobis eleif end option congue nihil impedo mingid quod mazim placerat facer <br>
                                 </li>
                             </ul>

                             <!-- Social Icon -->
                             <ul class="row margin-top-20" >
                                 <li class="col-sm-4 margin-top-10"><strong>Social info </strong></li>
                                 <li class="col-sm-8">
                                     <!-- Social Icons -->
                                     <ul class="social_icons">
                                         <li class="facebook"><a href="#."><i class="fa fa-facebook"></i> </a></li>
                                         <li class="twitter"><a href="#."><i class="fa fa-twitter"></i> </a></li>
                                         <li class="linkedin"><a href="#."><i class="fa fa-linkedin"></i> </a></li>
                                         <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i> </a></li>
                                         <li class="skype"><a href="#."><i class="fa fa-skype"></i> </a></li>
                                     </ul>
                                 </li>
                             </ul>

                             <!-- View Table -->
                             <a href="#." class="btn">Make an Appointment</a> </div>
                     </div>
                 </div>
             </div>
         </div>

         <!-- POPUP DOCTOR -->
         <div id="pop-open-1" class="zoom-anim-dialog mfp-hide pop-open-style">
             <div class="pop_up row">
                 <!-- Doctor Image -->
                 <div class="col-sm-6 no-padding-left"> <img class="img-responsive" src="assets/images/doctor-2-2.jpg" alt="" > </div>
                 <div class="col-sm-6">
                     <div class="doctor-in">
                         <h5>{{nom + " " +prenom}} </h5>
                         <span>Cardiology</span>
                         <!-- Personal Info -->
                         <div class="personal-info">
                             <ul class="row">
                                 <li class="col-sm-4"><strong>Education </strong></li>
                                 <li class="col-sm-8">{{description}}</li>
                             </ul>
                             <ul class="row">
                                 <li class="col-sm-4"><strong>Experience </strong></li>
                                 <li class="col-sm-8">{{experience}} ans</li>
                             </ul>
                             <ul class="row">
                                 <li class="col-sm-4"><strong>Office </strong></li>
                                 <li class="col-sm-8">{{adresse}}</li>
                             </ul>
                             <ul class="row">
                                 <li class="col-sm-4"><strong>Work days </strong></li>
                                 <li class="col-sm-8">{{jr_de_travail}}</li>
                             </ul>
                             <ul class="row">
                                 <li class="col-sm-4"><strong>Email </strong></li>
                                 <li class="col-sm-8">{{email_medecin}}</li>
                             </ul>
                             <ul class="row">
                                 <li class="col-sm-4"><strong>Age </strong></li>
                                 <li class="col-sm-8">{{age}} ans<br>
                                 </li>
                             </ul>

                             <!-- Social Icon -->
                             <ul class="row margin-top-20" >
                                 <li class="col-sm-4 margin-top-10"><strong>Social info </strong></li>
                                 <li class="col-sm-8">
                                     <!-- Social Icons -->
                                     <ul class="social_icons">
                                         <li class="facebook"><a href="#."><i class="fa fa-facebook"></i> </a></li>
                                         <li class="twitter"><a href="#."><i class="fa fa-twitter"></i> </a></li>
                                         <li class="linkedin"><a href="#."><i class="fa fa-linkedin"></i> </a></li>
                                         <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i> </a></li>
                                         <li class="skype"><a href="#."><i class="fa fa-skype"></i> </a></li>
                                     </ul>
                                 </li>
                             </ul>

                             <!-- View Table -->
                             <a href="#." class="btn">Make an Appointment</a> </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>

     <!-- DOCTOR LIST -->
     <section class="p-t-b-150">
         <div class="container">

             <!-- Heading -->
             <div class="heading-block">
                 <h4>Our Senior Doctors Team</h4>
                 <hr>
                 <span>Duis autem vel eum iriure dolor in hendrerit n vuew lputate velit esse molestie conseu vel illum dolore eufe ugiat nulla facilisis at vero.</span>
             </div>

             <!-- OUR TEAM -->
             <div class="our-team">

                 <!-- Team  -->
                 <div class="team-part">
                     <div class="row">

                         <!-- Team Member -->
                         <div class="col-sm-4">
                             <article>
                                 <!-- Team Img -->
                                 <div class="team-img"> <img class="img-responsive" src="assets/images/se-doc-img-1.jpg" alt="">

                                     <!-- Social -->
                                     <div class="team-hover">
                                         <div class="position-center-center"> <a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-behance"></i></a> </div>
                                     </div>
                                 </div>

                                 <!-- Team Name -->
                                 <div class="team-name">
                                     <h6>Dr. Adnan Arif</h6>
                                     <p>Heart Specialist Surgeon</p>
                                 </div>
                             </article>
                         </div>

                         <!-- Team Member -->
                         <div class="col-sm-4">
                             <article>
                                 <!-- Team Img -->
                                 <div class="team-img"> <img class="img-responsive" src="assets/images/se-doc-img-2.jpg" alt="">

                                     <!-- Social -->
                                     <div class="team-hover">
                                         <div class="position-center-center"> <a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-behance"></i></a> </div>
                                     </div>
                                 </div>

                                 <!-- Team Name -->
                                 <div class="team-name">
                                     <h6>Dr. Shahid </h6>
                                     <p>Dentel Specialist</p>
                                 </div>
                             </article>
                         </div>

                         <!-- Team Member -->
                         <div class="col-sm-4">
                             <article>
                                 <!-- Team Img -->
                                 <div class="team-img"> <img class="img-responsive" src="assets/images/se-doc-img-3.jpg" alt="">

                                     <!-- Social -->
                                     <div class="team-hover">
                                         <div class="position-center-center"> <a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-behance"></i></a> </div>
                                     </div>
                                 </div>

                                 <!-- Team Name -->
                                 <div class="team-name">
                                     <h6>Dr. Jhon Smith</h6>
                                     <p>Clinic President</p>
                                 </div>
                             </article>
                         </div>

                         <!-- Team Member -->
                         <div class="col-sm-4">
                             <article>
                                 <!-- Team Img -->
                                 <div class="team-img"> <img class="img-responsive" src="assets/images/se-doc-img-4.jpg" alt="">

                                     <!-- Social -->
                                     <div class="team-hover">
                                         <div class="position-center-center"> <a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-behance"></i></a> </div>
                                     </div>
                                 </div>

                                 <!-- Team Name -->
                                 <div class="team-name">
                                     <h6>Dr. Adnan Arif</h6>
                                     <p>Heart Specialist Surgeon</p>
                                 </div>
                             </article>
                         </div>

                         <!-- Team Member -->
                         <div class="col-sm-4">
                             <article>
                                 <!-- Team Img -->
                                 <div class="team-img"> <img class="img-responsive" src="assets/images/se-doc-img-5.jpg" alt="">

                                     <!-- Social -->
                                     <div class="team-hover">
                                         <div class="position-center-center"> <a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-behance"></i></a> </div>
                                     </div>
                                 </div>

                                 <!-- Team Name -->
                                 <div class="team-name">
                                     <h6>Dr. Shahid </h6>
                                     <p>Dentel Specialist</p>
                                 </div>
                             </article>
                         </div>

                         <!-- Team Member -->
                         <div class="col-sm-4">
                             <article>
                                 <!-- Team Img -->
                                 <div class="team-img"> <img class="img-responsive" src="assets/images/se-doc-img-6.jpg" alt="">

                                     <!-- Social -->
                                     <div class="team-hover">
                                         <div class="position-center-center"> <a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-behance"></i></a> </div>
                                     </div>
                                 </div>

                                 <!-- Team Name -->
                                 <div class="team-name">
                                     <h6>Dr. Jhon Smith</h6>
                                     <p>Clinic President</p>
                                 </div>
                             </article>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>
 </div>
 <app-footer></app-footer>