<app-header></app-header>
<!-- SLIDER -->
<!-- Bnr Header -->
<section class="main-banner">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>

                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
                    <!-- MAIN IMAGE -->
                    <img src="assets/images/slider-bg-1.jpg"  alt="slider"  data-bgposition=" center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption sfl tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-120"
                         data-speed="800"
                         data-start="800"
                         data-easing="Power3.easeInOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.03"
                         data-endelementdelay="0.4"
                         data-endspeed="300"
                         style="z-index: 5; font-size:50px; font-weight:500; color:#fff;  max-width: auto; max-height: auto; white-space: nowrap;">Hello, We are Medical!!</div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption sfr tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-60"
                         data-speed="800"
                         data-start="1000"
                         data-easing="Power3.easeInOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.03"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 6; font-size:40px; color:#fff; font-weight:500; white-space: nowrap;">We care about your health </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption sfb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="0"
                         data-speed="800"
                         data-start="1200"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 7;  font-size:22px; color:#fff; font-weight:500; max-width: auto; max-height: auto; white-space: nowrap;">Best Hospitality Services in your town</div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption lfb tp-resizeme scroll"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="120"
                         data-speed="800"
                         data-start="1300"
                         data-easing="Power3.easeInOut"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-scrolloffset="0"
                         style="z-index: 8;"><a href="#." class="btn">VIEW SERVICES</a> </div>
                </li>

                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
                    <!-- MAIN IMAGE -->
                    <img src="assets/images/slider-bg-2.jpg"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption sfl tp-resizeme"
                         data-x="left" data-hoffset="0"
                         data-y="center" data-voffset="-100"
                         data-speed="800"
                         data-start="800"
                         data-easing="Power3.easeInOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.03"
                         data-endelementdelay="0.4"
                         data-endspeed="300"
                         style="z-index: 5; font-size:40px; font-weight:500; color:#000;  max-width: auto; max-height: auto; white-space: nowrap;">Best Services </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption sfr tp-resizeme"
                         data-x="left" data-hoffset="0"
                         data-y="center" data-voffset="-40"
                         data-speed="800"
                         data-start="800"
                         data-easing="Power3.easeInOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.03"
                         data-endelementdelay="0.4"
                         data-endspeed="300"
                         style="z-index: 5; font-size:55px; font-weight:500; color:#000;  max-width: auto; max-height: auto; white-space: nowrap;">Hello, We are Medical!!</div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption sfb tp-resizeme"
                         data-x="left" data-hoffset="0"
                         data-y="center" data-voffset="30"
                         data-speed="800"
                         data-start="1400"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 7; font-size:16px; color:#000; font-weight:500; line-height:26px; max-width: auto; max-height: auto; white-space: nowrap;">It has survived not only five centuries, but also the leap into
                        electronic <br>
                        typesetting, remaining essentially unchanged. </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption lfb tp-resizeme scroll"
                         data-x="left" data-hoffset="0"
                         data-y="center" data-voffset="140"
                         data-speed="800"
                         data-start="1600"
                         data-easing="Power3.easeInOut"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-scrolloffset="0"
                         style="z-index: 8;"><a href="#." class="btn">CONTACT NOW</a> </div>
                </li>

                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
                    <!-- MAIN IMAGE -->
                    <img src="assets/images/slider-bg-3.jpg"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption sfb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-80"
                         data-speed="800"
                         data-start="800"
                         data-easing="Power3.easeInOut"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-scrolloffset="0"
                         style="z-index: 6; font-size:40px; color:#000; font-weight:500; white-space: nowrap;"> Welcome To Our Research Center </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption sfb tp-resizeme text-center"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-10"
                         data-speed="800"
                         data-start="1000"
                         data-easing="Power3.easeInOut"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         data-scrolloffset="0"
                         style="z-index: 7; font-size:20px; font-weight:500; line-height:26px; color:#000; max-width: auto; max-height: auto; white-space: nowrap;">We work in a friendly and efficient using the latest <br>
                        technologies and sharing our expertise.</div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- END SLIDER -->
<!-- CORP -->
<app-list-doc></app-list-doc>
<!-- END CORP -->
<app-footer></app-footer>
