  <!-- Footer -->
  <footer class="footer-2">
      <div class="container">
        <div class="row"> 
          
          <!-- Support -->
          <div class="col-sm-4">
            <h6>A Propos de nous</h6>
            <div class="about-foot">
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec diam elit consequat eget augue vitae aliquet sollicitudin. </p>
            </div>
          </div>
          
          <!-- Latest Blog News -->
          <div class="col-md-3">
            <h6>Les derniers News</h6>
            
          </div>
          
          <!-- Support -->
          <div class="col-sm-2">
            <h6>Services</h6>
            <ul class="links-footer ser">
              <li><a href="#."> Accueil </a></li>
              <li><a href="#."> Rendez-vous</a></li>
              <li><a href="#."> Services </a></li>
              <li><a href="#."> Blog </a></li>
              <li><a href="#."> Contact</a></li>
            </ul>
          </div>
          
          <!-- Conatct -->
          <div class="col-sm-3">
            <div class="con-info">
              <h6>Contactez nous</h6>
              <p>Adresse Postal 17000
                Dakar Sénégal</p>
              <ul>
                <li class="mobile">
                  <p>+221 33 3333333</p>
                  <p>+221 77 7777777</p>
                </li>
                <li class="email">
                  <p>contact@upclinic.sn</p>
                  <p>info@upclinic.sn</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
