<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Welcome To Our Medical & Research Center</p>
      </div>
      <div class="col-sm-6">
        <div class="social-icons"> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a> <a href="#."><i class="fa fa-instagram"></i></a> </div>
      </div>
    </div>
  </div>
</div>

<!-- Header -->
<header>
  <div class="container">
    <div class="logo"> <a href="index.html"><img src="assets/images/logo-light.png" alt=""></a> </div>

    <!-- Nav -->
    <nav class="navbar ownmenu">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-open-btn" aria-expanded="false"> <span><i class="fa fa-navicon"></i></span> </button>
      </div>

      <!-- NAV -->
      <div class="collapse navbar-collapse" id="nav-open-btn">
        <ul class="nav">
          <li> <a routerLink="/accueil" class="dropdown-toggle" data-toggle="dropdown"> Accueil </a>
          </li>
          <li><a routerLink="/docteur"> Docteurs</a></li>
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Services </a>
          </li>
          <li><a routerLink="/rendez-vous"> Rendez-vous</a></li>
          <!--<li><a href=""> Gallery </a></li>
          <li><a href="#"> Blog </a></li>-->
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- End Header -->